#contact .container {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    grid-template-rows: auto 1fr;
    column-gap: 30px;
}

.contact-heading {
    grid-row: 1;
    text-align: right;
}

.contact-body {
    grid-row: 2;
    text-align: right;
    color: var(--white);
}

.contact-icon {
    display: none;
}

.contact-icon#email-icon {
    display: unset;
    align-self: start;
    justify-self: end;
    grid-column: -2;
    grid-row: 2;
}

@media(width <=991px) {}

@media(width <=767px) {
    #contact .container {
        column-gap: 16px;
    }
}

@media(width<=429px) {
    #contact .container {
        grid-template-columns: repeat(3, 1fr auto);
        grid-template-rows: auto;
        justify-items: start;
        column-gap: 5px;
    }

    #contact .container>div {
        text-align: start;
    }

    .contact-icon {
        display: unset;
        text-align: left;
        grid-row: 2;
    }

    .contact-heading {
        display: none;
    }

    .contact-body {
        text-align: left;
    }
}