.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.text-left {
    text-align: start !important;
}

.text--vertical-bottom {
    vertical-align: text-bottom;
}

.hover-effect {
    transition: translate 180ms, opacity 180ms;
    opacity: 0.8;
}

.hover-effect:hover {
    opacity: 1;
}

.hover-effect:active {
    translate: 1px, 1px;
}
