#intro {
    --hero-width: 285px;
    --col-gap: 65px;
    --row-gap: 0px;
    --col2-vertical-padding: 71px;

    position: relative;
}

#intro>.container {
    display: grid;
    grid-template-columns: var(--hero-width) auto;
    grid-template-areas: "col1 col2";
    column-gap: var(--col-gap);
    text-align: left;
    row-gap: var(--row-gap);
}

.intro-col1 {
    grid-area: col1;
}

.intro-col2 {
    grid-area: col2;
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: var(--row-gap);
    padding-block: var(--col2-vertical-padding);
}

.title--intro {
    margin-block: 0px;
    line-height: 0.9;
}

.title--intro-md {
    align-self: center;
    color: var(--black);
    margin-block: 0px;
}

/* Hero img */
#hero {
    display: grid;
    justify-content: center;
}

#hero>div {
    grid-row: 1;
    grid-column: 1;
    border: var(--white) 3px solid;
    border-radius: 50%;
}

#hero>img {
    grid-row: 1;
    grid-column: 1;
    place-content: center;
}

@media(width <=991px) {
    #intro {
        --hero-width: 250px;
        --row-gap: 0px;
        --col2-vertical-padding: 0px;

        padding-bottom: 0px;
    }

    #intro>.container {
        grid-template-areas: "col1" "col2";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-items: center;
        text-align: center;
    }

    #hero {
        width: var(--hero-width);
    }

    #motto {
        margin-block: 10px;
    }

    .intro-col2 {
        padding-block: var(--col2-vertical-padding);
    }

    .title--intro {
        line-height: 1.1;
    }
}

@media(width <=767px) {
    #intro {
        --hero-width: 150px;
        --row-gap: 10px;
    }
}

@media(width<=429px) {
    #intro {
        --hero-width: 100px;
        --row-gap: 0px;
    }

    #intro>.container {
        align-items: center;
    }
}