.layout-section {
    scroll-margin-top: 20px;
    background-color: var(--white);
    color: var(--primary);
    padding-block: 50px;
}

.layout-section--highlighted {
    background-color: var(--primary);
    color: var(--white);
}

/* .layout-section:nth-child(1) {
    padding-top: 100px;
} */

.layout-section--short {
    padding-block: 25px;
}

.layout-section-title {
    margin-top: 0px;
    font-family: var(--font-primary);
}

.layout-grid-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    text-align: left;
}

.layout-overlay {
    opacity: .5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

@media (max-width: 37.5rem) {
    .layout-grid-half {
        grid-template-columns: 1fr;
    }
}

@media(width <=991px) {
    .layout-section:nth-child(1) {
        padding-top: 25px;
    }

    .layout-section {
        padding-block: 25px;
    }

    .layout-section--short {
        padding-block: 12px;
    }

}

@media (width <=767px) {
    .layout-section:nth-child(1) {
        padding-top: 25px;
    }
}

@media(width<=429px) {
    .layout-section:nth-child(1) {
        padding-top: 25px;
    }
}