.projects {
    --button-background: var(--white);
    display: flex;
    gap: var(--gap);
    /* margin-bottom: 100px; */
    overflow-x: scroll;
}

.project-screenshot {
    border-radius: 50%;
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);
}

.projects:nth-child(odd) .project-screenshot {
    order: 1;
}

.project-item {
    min-width: 20rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray-light);
    border-radius: var(--border-radius);
    background-color: var(--button-background);
}

button.project-item {
    cursor: pointer;
}

.project-item:hover {
    background: var(--focus);
    color: var(--white);
}

.project-item:hover .text {
    color: var(--white);
}

@media (max-width: 37.5rem) {
    .projects {
        display: block;
    }
}