.tags {
    padding-left: 0;
    list-style: none;
    width: 60vw;
    margin-inline: auto;
    --tag-color: var(--gray);
}

.tag--font {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1px;
}

.tag {
    display: inline-block;
    border: 1px solid var(--gray-light);
    border-radius: var(--border-radius);
    padding: 12px 16px;
    margin: 8px;
    margin-left: 0;
    position: relative;
    /* outline: 1px solid transparent; */
    color: var(--white);
    cursor: default;
}

.tag-framework {
    background-color: var(--primary);
}

.tag-language {
    background-color: #62B5C6;
}

.tag-platform {
    background-color: orange;
}