:root {
    --primary: #ff9064;
    --black: #232020;
    --white: white;
    --dark-blue: #130c24;
    --gray: #4c4c4c;
    --beige: #f5f5f1;
    --text-color: var(--black);
    --gap: 45px;

    /* theme dependent variables */
    --text-color: var(--black);
    --light-icon: white;
    --gray-dark: #666666;
    --gray-light: #bdbdbd;
    --dark-icon: var(--black);
    --anchor-color: var(--primary);
    --font-primary: 'Poppins', 'sans-serif';
    --font-secondary: 'Roboto', 'sans-serif';

    /* --medium-point: 991px;
    --small-point: 767px; */

}

* {
    box-sizing: border-box;
}

html {
    color: var(--text-color);
    background-color: #242424;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: var(--font-secondary);
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */
}

/* Headings use Poppins */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  /* font-weight: 600; */
  margin: 0 0 1rem 0;
}

input,
textarea,
button,
select {
    font: inherit;
}

::selection {
    background-color: var(--primary);
    color: var(--black);
}

@media (max-width: 37.5rem) {
    :root {
        --gap: 30px;
    }

    html {
        font-size: 70%;
        /* as long as the smallest font is still legible */
    }
}

.img-overlay{
    position: absolute;
    z-index: 1000000;
    opacity: .5;
    width: 100%;
}
