#contact .container {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-rows: auto 1fr;
    column-gap: 30px;
}

.contact-field a,
.contact-field p {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.contact-field {
    text-align: end;
}

.left--contact-field {
    text-align: start;
}

.text-left {
    text-align: start !important;
}

.contact-heading {
    grid-row: 1;
    text-align: right;
}

.contact-cell {
    grid-row: 2;
    color: var(--white);
    text-align: right;
}

.contact-field#email {
    justify-self: end;
    align-self: center
}

#contact div#email>img {
    min-width: 50px;
    aspect-ratio: 1;
    background-color: white;

}

#contact div#email {
    align-self: start;
}

#phone {
    display: none;
}

#location {
    display: none;
}

@media(width <=991px) {
    #contact {
        padding-block: 30px;
    }

    #contact div#email>img {
        min-width: 55px;
    }
}

@media(width <=767px) {
    #contact .container {
        column-gap: 16px;
    }

    #contact {
        padding-block: 40px;
    }
}

@media(width<=429px) {
    #contact .container {
        grid-template-columns: repeat(3, 1fr auto);
        grid-template-rows: auto;
        justify-items: start;
        column-gap: 5px;
    }

    #contact .container>div {
        text-align: start;
    }

    #contact {
        padding: unset;
        margin: unset;
    }

    #contact div#email {
        display: unset;
        grid-column: 5;
    }

    #phone {
        display: unset;
    }

    #location {
        display: unset;
    }

    .contact-heading {
        display: none;
    }

    .contact-cell {
        text-align: left;
    }
}