.container {
    max-width: 1160px;
    padding-inline: 70px;
    margin-inline: auto;
}


@media(width <=991px) {
    .container {
        max-width: 750px;
    }
}

@media (width <=767px) {
    .container {
        max-width: 570px;
    }
}