.container {
    max-width: 1160px;
    padding-inline: 70px;
    margin-inline: auto;
    overflow-x: hidden;
}

@media(width <=991px) {
    .container {
        max-width: 750px;
    }
}

@media (width <=767px) {
    .container {
        max-width: 570px;
    }
}

@media(width<=429px) {
    .container {
        padding-inline: 20px;
    }
}