#contact {
    padding-block: 30px 110px;
    display: none;
}

#contact .container {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-areas: "detail phone email icon";
    column-gap: 30px;
}

#contact h3 {
    font-family: var(--font-primary);
    font-weight: 300;
    margin-top: 10px;
    font-size: 1rem;
}

.contact-text-sm {
    font-family: var(--font-primary);
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 300;
    margin-block: 2px 18px;
    display: inline-block;
    line-height: 1.4;
}

#contact .container>div {
    text-align: end;
}

#contact .container>div:first-child {
    text-align: start;
}

#contact div#design {
    grid-area: detail;
}

#contact div#phone {
    grid-area: phone;
}

#contact div#email {
    grid-area: email;
}

#contact div#icon {
    grid-area: icon;
    justify-self: end;
    align-self: end;
}

#contact div#icon>img {
    min-width: 50px;
    aspect-ratio: 1;
    background-color: white;
}

@media(width <=991px) {
    #contact {
        margin-bottom: 30px;
    }

    #contact div#icon>img {
        min-width: 55px;
    }
}

@media(width <=767px) {
    #contact {
        padding-bottom: 40px;
    }
}

@media(width<=429px) {
    #contact .container {
        grid-template-areas: "detail" "phone" "email";
        grid-template-rows: unset;
        grid-template-columns: unset;
        column-gap: normal;
        justify-items: start;
    }

    #contact .container>div {
        text-align: start;
    }

    #contact {
        padding: unset;
        margin: unset;
    }

    #contact div#icon {
        display: none;
    }
}