#intro {
    position: relative;
    padding-block: 100px;
    --grid-col-1: 285px;
    --col-gap: 65px;
}

#intro>.container {
    align-items: center;
    display: grid;
    grid-template-columns: var(--grid-col-1) auto;
    grid-template-areas: "hero title" "hero subtitle" "hero motto";
    column-gap: var(--col-gap);
}

.intro-col1 {
    display: grid;
    justify-content: center;
    grid-area: hero;
}

.intro-col1>div {
    grid-row: 1;
    grid-column: 1;
    border: var(--white) 3px solid;
    border-radius: 50%;
}

.title--intro-md {
    text-align: left;
}

.intro-caption {
    color: var(--black);
}

#intro-hero {
    grid-row: 1;
    grid-column: 1
}

.title--intro-md {
    color: var(--black);
}

#intro #title {
    align-self: end;
    grid-area: title;
}

#intro #subtitle {
    align-self: start;
    grid-area: subtitle;
}

#intro #motto {
    grid-area: motto;
}

@media(width <=991px) {
    #intro {
        --grid-col-1: 250px;
        margin-block: 55px;
        padding-block: 0px;
    }

    #intro>.container {
        grid-template-areas: "hero" "title" "subtitle" "motto";
        grid-template-columns: unset;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }

    .intro-col1 {
        width: var(--grid-col-1);
        margin-bottom: 10px;
    }

    #motto {
        margin-block: 10px;
    }

    .title--intro-md {
        text-align: center;
    }
}

@media(width <=767px) {
    #intro {
        --grid-col-1: 150px;
    }

    .intro-col1 {
        width: var(--grid-col-1);
    }
}

@media(width<=429px) {
    #intro {
        --grid-col-1: 100px;
        padding: 20px;
        margin: unset;
    }

    .intro-col1 {
        width: var(--grid-col-1);
    }

    #intro>.container {
        align-items: center;
        padding-inline: unset;
    }
}