#intro {
    position: relative;
    --grid-col-1: 285px;
    --col-gap: 65px;
}

#intro>.container {
    display: grid;
    grid-template-columns: var(--grid-col-1) auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "hero title" "hero subtitle" "hero motto";
    column-gap: var(--col-gap);
    align-items: center;
}

#hero {
    display: grid;
    grid-area: hero;
    justify-content: center;
}

#hero>div {
    grid-row: 1;
    grid-column: 1;
    border: var(--white) 3px solid;
    border-radius: 50%;
}

.intro-caption {
    color: var(--black);
}

#intro-hero {
    grid-row: 1;
    grid-column: 1
}

#intro #title {
    grid-area: title;
    margin-block: 10px 0px;
}

#intro #subtitle {
    grid-area: subtitle;
    margin-block: 0px 10px;
}

#intro #motto {
    grid-area: motto;
}

#intro .title--intro {
    /* margin-block: 0px; */
    text-align: left;
}

#intro .title--intro-md {
    color: var(--black);
    /* padding-bottom: 20px; */
    margin-block: 10px;
    text-align: left;
}

@media(width <=991px) {
    #intro {
        --grid-col-1: 250px;
        /* margin-block: 55px; */
        padding-block: 0px;
    }

    #intro>.container {
        grid-template-areas: "hero" "title" "subtitle" "motto";
        grid-template-columns: unset;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }

    #hero {
        width: var(--grid-col-1);
        margin-bottom: 30px;
    }

    #motto {
        margin-block: 10px;
    }
}

@media(width <=767px) {
    #intro {
        --grid-col-1: 150px;
    }

    #hero {
        width: var(--grid-col-1);
    }
}

@media(width<=429px) {
    #intro {
        --grid-col-1: 100px;
        padding-block: 20px;
        margin: unset;
    }

    #hero {
        width: var(--grid-col-1);
    }

    #intro>.container {
        align-items: center;
        padding-inline: unset;
    }
}

@media(width <=991px) {
    #intro .title--intro-m {
        text-align: center;
    }

    #intro .title--intro {
        text-align: center;
    }
}