.layout-section {
    scroll-margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: var(--white);
    color: var(--primary); */
}

main>.layout-section:nth-child(n+1) {
    background-color: var(--white);
    color: var(--primary);
}

.layout-section-title {
    margin-top: 0px;
    /* margin-bottom: 100px; */
    font-family: var(--font-primary);
}

.layout-grid-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    text-align: left;
}

@media (max-width: 37.5rem) {
    .layout-section {
        padding-bottom: 100px;
    }

    .layout-grid-half {
        grid-template-columns: 1fr;
    }
}

.layout-section--highlighted {
    padding-block: 1px;
    background-color: var(--primary);
    color: var(--white);
}

.layout-overlay {
    opacity: .5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}