.projects {
    display: flex;
    gap: var(--gap);
    /* margin-bottom: 100px; */
    overflow-x: scroll;
}

.project-screenshot {
    border-radius: 50%;
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);
}

.projects:nth-child(odd) .project-screenshot {
    order: 1;
}

button.project-item {
    width: 20rem;
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius);
    padding: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.project-item:active {
    background: red;
}

@media (max-width: 37.5rem) {
    .projects {
        display: block;
    }
}